
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_PublicAreaLayout.cshtml";
}

@*@foreach(var item in Model.Distinct().ToArray())
    {
        <h1>@Html.DisplayFor(modelItem => item.CompanyName)</h1>
        foreach(var subitem in item.Regions)
        {
            @Html.DisplayFor(modelItem => subitem.Name)
        }
    }*@

@*@{
        var data = ViewData["cats"] as IEnumerable<Travel.Models.ApplicationUser>;
        var cats = (from d in data select d.CompanyName).Distinct();
        foreach (var c in cats)
        {
        }
    }*@

@*<div class="fh5co-hero">
        <div class="fh5co-overlay"></div>
        <div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(../Content/images/cover_bg_1.jpg);">
            <div class="desc">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-5 col-md-5">
                        </div>
                        <div class="desc2 animate-box">
                            <div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
                                 <p><a class="btn btn-primary btn-lg" href="#">Get Started</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>*@

<iframe width="100%" height="538" src="https://www.youtube.com/embed/SZ5JjLdzQ1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                    <div href="#">
                        <img src="~/Content/images/place-1.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <div class="desc">
                            <span></span>
                            <h3>New York</h3>
                            <a class="btn btn-primary btn-outline" href="~/offers/List/19">See Details <i class="icon-arrow-right22"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                    <div href="#">
                        <img src="~/Content/images/place-2.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <div class="desc">
                            <span></span>
                            <h3>Philippines</h3>
                            <a class="btn btn-primary btn-outline" href="~/offers/List/8">See Details<i class="icon-arrow-right22"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                    <div href="#">
                        <img src="~/Content/images/place-3.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <div class="desc">
                            <span></span>
                            <h3>Hongkong</h3>
                            <a class="btn btn-primary btn-outline" href="~/offers/List/11">See Details <i class="icon-arrow-right22"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center animate-box">
                    <p><a class="btn btn-primary btn-outline btn-lg" href="~/offers/AllOffers">See All Offers <i class="icon-arrow-right22"></i></a></p>
                </div>
            </div>
        </div>
    </div>



<div id="fh5co-destination">
        <div class="tour-fluid">
            <div class="row">
                <div class="col-md-12">
                    <ul id="fh5co-destination-list" class="animate-box">
                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-1.jpg); ">
                            <a href="~/Regions/List/5">
                                <div class="case-studies-summary">
                                    <h2>Los Angeles</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-2.jpg); ">
                            <a href="~/Regions/List/6">
                                <div class="case-studies-summary">
                                    <h2>Hongkong</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-3.jpg); ">
                            <a href="~/Regions/List/7">
                                <div class="case-studies-summary">
                                    <h2>Italy</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-4.jpg); ">
                            <a href="~/Regions/List/8">
                                <div class="case-studies-summary">
                                    <h2>Philippines</h2>
                                </div>
                            </a>
                        </li>

                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-5.jpg); ">
                            <a href="~/Regions/List/9">
                                <div class="case-studies-summary">
                                    <h2>Japan</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-half text-center">
                            <div class="title-bg">
                                <div class="case-studies-summary">
                                    <h2>Most Popular Destinations</h2>
                                    <span><a href="~/Countries/AllCountries">View All Destinations</a></span>
                                </div>
                            </div>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-6.jpg); ">
                            <a href="~/Regions/List/10">
                                <div class="case-studies-summary">
                                    <h2>Paris</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-7.jpg); ">
                            <a href="~/Regions/List/11">
                                <div class="case-studies-summary">
                                    <h2>Singapore</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-8.jpg); ">
                            <a href="~/Regions/List/12">
                                <div class="case-studies-summary">
                                    <h2>Madagascar</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-9.jpg); ">
                            <a href="~/Regions/List/13">
                                <div class="case-studies-summary">
                                    <h2>Egypt</h2>
                                </div>
                            </a>
                        </li>
                        <li class="one-forth text-center" style="background-image: url(../Content/images/place-10.jpg); ">
                            <a href="~/Regions/List/14">
                                <div class="case-studies-summary">
                                    <h2>Indonesia</h2>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


     fh5co-blog-section
    <div id="fh5co-testimonial" style="background-image:url(../Content/images/img_bg_1.jpg);">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>Happy Clients</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="box-testimony animate-box">
                        <blockquote>
                            <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                        </blockquote>
                        <p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
                    </div>

                </div>
                <div class="col-md-4">
                    <div class="box-testimony animate-box">
                        <blockquote>
                            <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.&rdquo;</p>
                        </blockquote>
                        <p class="author">John Doe, CEO <a href="http://freehtml5.co/" target="_blank">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="box-testimony animate-box">
                        <blockquote>
                            <span class="quote"><span><i class="icon-quotes-right"></i></span></span>
                            <p>&ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.&rdquo;</p>
                        </blockquote>
                        <p class="author">John Doe, Founder <a href="#">FREEHTML5.co</a> <span class="subtext">Creative Director</span></p>
                    </div>

                </div>
            </div>
        </div>
    </div>
