@model IEnumerable<Travel.Models.offers>
@{
    ViewBag.Title = "All Offers";
    Layout = "~/Views/Shared/_PublicAreaLayout.cshtml";
}
<div id="fh5co-tours" class="fh5co-section-gray">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
                    <div href="#">
                        <img style="widht:200px;height:300px;" src="~/images/@item.Image" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
                        <div class="desc">
                            <span></span>   
                            <h3>@item.Name</h3>
                            <span class="price">@item.Price</span>
                            <a class="btn btn-primary btn-outline" href="~/offers/Details/@item.OfferId">Book Now <i class="icon-arrow-right22"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
