@model Travel.Models.ApplyForTripOffers

@{
    ViewBag.Title = "ApplyTripoffers";
    Layout = "~/Views/Shared/_PublicAreaLayout.cshtml";
}

<h2>ApplyTripoffers</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">


        <div class="form-group">
            @Html.LabelFor(model => model.NumberPerson, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-6">
                <select name="numberperson" class="form-control">
                    <option value="One">One</option>
                    <option value="Two">Two</option>
                    <option value="Three">Three</option>
                    <option value="Four">Four</option>
                </select>
                @Html.ValidationMessageFor(model => model.NumberPerson, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

